<!DOCTYPE html>
<head>
   <body>
    
        <h2>Deployement</h2>
    
        <form method="POST" , action="/predict">
            <label for = 'preg'>PREG:</label><br>
            <input type = 'number' id="preg" name = 'preg' placeholder="preg" required='required'><br>
            <label for="plas" >PLAS:</label><br>
            <input type = 'number' id ='plas' name="plas" placeholder="plas" required="required"><br>
            <label for = 'pres'>PRES:</label><br>
            <input type = 'number' id ='pres' name="pres" placeholder="pres" required="required"><br>
            <label for = 'skin'>SKIN:</label><br>
            <input type = "number" id = 'skin' name = 'skin' placeholder="skin" required="required"><br>
            <label for = 'test'>TEST:</label><br>
            <input type = 'number' id="test" name = 'test' placeholder="test" required='required'><br>
            <label for="mass" >MASS:</label><br>
            <input type = 'number' id ='mass' name="mass" placeholder="plas" required="required"><br>
            <label for = 'pedi'>PEDI:</label><br>
            <input type = 'number' id ='pedi' name="pedi" placeholder="pedi" required="required"><br>
            <label for = 'age'>AGE:</label><br>
            <input type = "number" id = 'age' name = 'age' placeholder="age" required="required"><br><br>
                                        
            <button type="submit">Predict</button>    
        </form>
    </body>


</head>